.cardWrapper {
    width: 90%;
    margin: 20px auto;
}

.profilePhoto {
    width: 50px;
    border-radius: 50%;
    border: 3px solid var(--secondary);
}
.username {
    color: var(--gray);
    font-size: 12px;
    margin-left: 5px;
}
.userProfileName {
    margin-left: 10px;
}
.userAreaWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.postText {
    margin-bottom: 20px;
}
.postTimestamp {
    color: var(--gray);
    font-size: 12px;
}