.navigationWrapper {
    position: sticky;
    top: 0;
}

.logo {
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
}

.barWrapper {
    background-color: var(--background);
}

.navigationBar {
    padding-right: 50px;
    padding-left: 50px;
}

.submitButton {
    margin-left: 20px;
    background-color: var(--primary);
}
.submitButton:hover {
    background-color: var(--secondary);
}