.commentCount {
    margin: 5px;
    font-size: 11px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    line-height: 25px;
}
.postButton {
    color: var(--primary);
    font-size: 11px;
}