:root {
  --primary: #bb86fc;
  --secondary: #3700b3;
  --background: #121212;
  --background-variant: #292929;
  --error: #cf6679;
  --white: #fff;
  --gray: #6C756B;
}

* {
  font-family: 'Helvetica', sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-variant);
}
